body {
    margin: 0;
    padding: 0;
    background: linear-gradient(270deg, #324cdb, #791bb4);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    font-family : Arial, sans-serif; 
}

.container{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 0px;
    background: #fff;
    width: 600px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
    }
    .header{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 9px;
        width: 100%;
        margin-top: 30px;
        }
 .btn{
            justify-content: center;
            align-items: center;
            width: 450px;
            margin-left: 13%;
            padding: 1rem;
            background-color: #3b45c9; 
            color: #ffffff;
            border: none;
            cursor: pointer;
            font-size: 1rem;
            transition: background-color 0.3s ease;

        }
.p{
    padding-left: 20px;
                margin-top: 15px;
                color: #797979;
                font-size: 18px;

}